<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %d{yyyy-MM-dd HH:mm:ss} %c - %m%n" />
		</layout>
	</appender>

	<appender name="error_file" class="org.apache.log4j.RollingFileAppender">
		<param name="File"
			value="${mx.org.ife.rfe.siirfe.config.dir}/sscc/ssccErrorFile.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="5" />
		<param name="Threshold" value="WARN" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%n%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%l] %n%m%n" />
		</layout>
	</appender>

	<appender name="app_file" class="org.apache.log4j.RollingFileAppender">
		<param name="File"
			value="${mx.org.ife.rfe.siirfe.config.dir}/sscc/ssccSiirfe.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="5" />
		<param name="Threshold" value="INFO" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%n%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%l] %n%m%n" />
		</layout>
	</appender>


	<!-- Application Loggers -->
	<logger name="mx.ine.sscc.aspecto">
		<level value="off" />
	</logger>

	<!-- <logger name="mx.ine.sscc.servicios"> -->
	<!-- <appender-ref ref="error_file" /> -->
	<!-- </logger> -->

	<logger name="mx.ine.sscc">
		<appender-ref ref="app_file" />
	</logger>


	<!-- 3rdparty Loggers -->

	<logger name="org.hibernate">
		<level value="off" />
	</logger>

	<logger name="org.springframework.security">
		<level value="off" />
	</logger>

	<logger name="org.springframework.core">
		<level value="off" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="off" />
	</logger>

	<logger name="org.springframework.context">
		<level value="off" />
	</logger>

	<logger name="org.springframework.web">
		<level value="off" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="console" />
	</root>


</log4j:configuration>
